{% extends "AdminZooBlogBundle:Layouts:master.html.twig" %}

{% set page_title = "Actualités - Zoo - Rédiger un article" %}
{% set short_page_title = "new_post" %}

{% block content %}

    <form action="{{ path("admin_zoo_blog_post_create") }}" method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="new_post_form_title">Titre de l'article</label>
                    <input type="text" name="new_post_form[title]" id="new_post_form_title" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="new_post_form_slug">Alias</label>
                    <input type="text" name="new_post_form[slug]" id="new_post_form_slug" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="new_post_form_body">Corps de l'article</label>
                    <textarea name="new_post_form[body]" id="new_post_form_body" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="new_post_form_excerpt">Extrait de l'article</label>
                    <textarea name="new_post_form[excerpt]" id="new_post_form_excerpt" class="form-control"></textarea>
                </div>
                <input name="new_post_form[_token]" type="hidden" value="{{ csrf_token("new_post") }}"/>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><label for="new_post_form_category">Catégorie</label></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <select class="form-control" name="new_post_form[category]" id="new_post_form_category">
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="save_draft" name="new_post_form[submit]">Enregistrer le brouillon</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="save_publish" name="new_post_form[submit]">Enregistrer et publier</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="save_front" name="new_post_form[submit]">Enregistrer et publier à la une</button>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><label >Publication différée</label></div>
                    <div class="panel-body">
                        <h5>Date</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="new_post_form[delay_year]" id="new_post_form_delay_year" placeholder="yyyy"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="new_post_form[delay_month]" id="new_post_form_delay_month" placeholder="mm"/>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="new_post_form[delay_day]" id="new_post_form_delay_day" placeholder="jj"/>
                            </div>
                        </div>
                        <h5>Heure</h5>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="new_post_form[delay_hour]" id="new_post_form_delay_day" placeholder="hh"/>
                            </div>
                            <div class="col-md-3">
                                <input class="form-control" type="text" name="new_post_form[delay_min]" id="new_post_form_delay_day" placeholder="mm"/>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary " value="save_delayed" name="new_post_form[submit]">Enregistrer et publier plus tard</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
