{% extends "AdminCommonBaseBundle:Layouts:master.html.twig" %}
{% set short_page_title = ( short_page_title is defined) ? short_page_title : "" %}
{% block main %}


    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a class="btn btn-primary btn-lg" href=""><i class="fa fa-pencil"></i> Ecrire</a>
            <hr/>
            <h4><i class="fa fa-file-text-o"></i> Articles</h4>
            <ul class="nav nav-sidebar">
                <li {% if short_page_title == "all_posts" %}class="active" {% endif %}><a href="{{ path("admin_zoo_blog_homepage") }}"><i class="fa fa-list-ul"></i> Liste</a></li>
                <li {% if short_page_title == "new_post" %}class="active" {% endif %}><a href="{{ path("admin_zoo_blog_post_new") }}"><i class="fa fa-pencil"></i> Ecrire</a></li>
                <li><a href=""><i class="fa fa-archive"></i> Archives</a></li> {# TODO #}
                <li><a href=""><i class="fa fa-trash-o"></i> Corbeille</a></li> {# TODO #}
                <li><a href="#"><i class="fa fa-signal"></i> Statistiques</a></li> {# TODO #}
            </ul>
            <h4><i class="fa fa-tags"></i> Catégories</h4>
            <ul class="nav nav-sidebar">
                <li {% if short_page_title == "all_cats" %}class="active" {% endif %}><a href="{{ path("admin_zoo_blog_category_homepage") }}"><i class="fa fa-list-ul"></i> Liste</a></li>
                <li {% if short_page_title == "new_cat" %}class="active" {% endif %}><a href="{{ path("admin_zoo_blog_category_new") }}"><i class="fa fa-plus-square-o"></i> Nouvelle catégorie</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            {% block content %}{% endblock %}
        </div>
    </div>





{% endblock %}
