{% extends "AdminCommonMenuManagerBundle:Layouts:master.html.twig" %}

{% set page_title = "Menu Manager" %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nom</th>
                    <th>Editer</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% if menus|length<1 %}
                <tr class="warning">
                    <td colspan="4">Il n'y a pas de menus enregistrés. <a href="#"><i class="fa fa-hand-o-right"></i> Enregistrer un nouveau menu.</a></td>
                </tr>
            {% else %}
                {% for menu in menus %}
                    <tr>
                        <td>{{ menu.id }}</td>
                        <td>{{ menu.title }}</td>
                        <td><a href="#"><i class="fa fa-pencil-square-o"></i></a></td>
                        <td><a href="#" class="delete-alert" data-name=""{{ menu.title }}><i class="fa fa-trash-o"></i></a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".delete-alert").on("click", function(e){
                e.preventDefault();
                var name = $(this).data("name");
                if(window.confirm("Attention, cette action est irréversible, êtes-vous certain de vouloir continuer et effacer '" + name + "' ?")){
                    window.location.href = $(this).attr("href");
                }
            });
        });
    </script>

{% endblock %}
